.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #6648c7;
    background-clip: padding-box;
    border: none;
    border-radius: .3rem;
    outline: 0;
    color: #ffffff;
}
span{    color: aliceblue;}
.modal-header {

    border-bottom: 1px solid #dee2e638;
}
.modal-footer {
   
    border-top: 1px solid #dee2e638;
}

